@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: #A5C9CA;
}

h1{
    font-size: 25px;
}

body{
    background: linear-gradient(#242424 70%, rgba(0, 0, 0, 0.815));
    height: 84.5vh;
}

.container-cards{
    display: inline-block;
}

.container-cards{
    width: 30%;
    margin: 10px;
}

.card{
    border: 2px solid white;
    box-shadow: 0px 0px 5px .5px black;
    width: 104%;
    height: 240px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.image-tech{
    width: 50px;
    margin-top: 20px;
}

a, label{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
}

.carousel{
    margin-top: 10%;
}

.btn-second{
    -webkit-animation: movers 1.3s infinite  alternate;
    animation: movers 1s infinite  alternate;
}

button{
    height: 60px;
    width: 40%;
    border: 3px solid #A5C9CA;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    transition: .5s;
    background: #a5c9ca2d;
}

a{
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}

button:hover{
    background: #a5c9ca8f;
    color: white;
}

.btn-first{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1.3s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.btn-router{
    margin-top: 40px;
    text-align: center;
}

@-webkit-keyframes movers {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
@keyframes movers {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


.btn-first{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1.3s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-10px); }
}

.btn-treet{
    -webkit-animation: movers1 1.3s infinite  alternate;
    animation: movers1 1.3s infinite  alternate;
}

@-webkit-keyframes movers1 {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
@keyframes movers1 {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

@media(max-width: 940px){
    body{
        display: -moz-inline-grid;
        
    }
    .container-cards{
        display: inline-block;
        width: 90%;
        margin: 0;
        margin-left: 3%;
    }
    .image-tech{
        width: 50px;
    }
}

@media(max-width: 500px){
    .carousel{
        margin-top: 15%;
    }

    span{
        font-size: 11px;
    }
    
    a, label{
        font-size: 16px;
    }
    .image-tech{
        width: 30px;
    }
}